.ExchangeRate {
    position: fixed;
    width: 168px;
    height: 96px;
    border-radius: 38px;
    background-size: cover;
    color: #dedede;
    display: flex;
    flex-direction: column;
    padding: 28px;
    background-color: #343434;
    user-select: none;
    text-align: center;
}

.label {
    margin-bottom: 2px;
    font-size: 24px;
    font-weight: bold;
}

.rate {
    margin: 4px 0;
    font-size: 36px;
    font-weight: bold;
}

.date {
    margin: 4px 0;
    font-size: 12px;
}