.Intro {
    background-color: rgba(0,0,0,0.56);
    color: #dedede;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}