.Intro {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #282c34;
    color: #dedede;
    transition: 0.5s ease-in;
    z-index: 999;
    font-size: xx-large;
}

.menuBtn {
    position: absolute; 
    bottom: 0;
    right: 0; 
    z-index: 9999;
    background-color: transparent;
    border: none;
    user-select: none;
    outline: 0;
    opacity: 0.76;
    transition: 0.2s ease;
}

.menuBtn:hover {
    opacity: 1;
}

.zeroWidgets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    color: #dedede;
    font-size: larger;
}

.headingBg {
    background-color: rgba(40,44,52, 0.91);
    padding: 20px 32px;
}