.Weather {
    background-color: rgba(0, 0, 0, 0.56);
    color: #dedede;
    position: fixed;
    width: 168px;
    height: 168px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 28px;
    user-select: none;
}

.temp {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1.24fr 0.76fr;
    width: 100%;
    font-size: 16px;

    .current {
        grid-row: 1 / 3;
        font-size: 36px;
    }

    &:not(.current) {
        text-align: center;
    }
}

.city {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
    font-size: 22px;   
}