.Weather {
    position: fixed;
    /* width: 200px; */
    /* height: 200px; */
    width: 180px;
    height: 180px;
    border-radius: 50px;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 28px;
    background-color: white;
}

.city {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
    font-size: 22px;
}
.temp {
    font-size: 36px;
}
.condn {
    font-size: 18px;
    text-transform: capitalize;
}
.hl {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 17px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
}