@font-face {
    font-family: Archia;
    src: url('../../assets/Archia-Regular.otf');
}

.Covid {
    position: fixed;
    background-color: #161625;
    display: flex;
    flex-direction: column;
    padding: 28px;
    font-family: Archia;
}

.CovidSmall {
    width: 200px;
    height: 200px;
    border-radius: 50px;
}

.CovidLarge {
    width: 600px;
    height: 200px;
    border-radius: 50px;
}

.city {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    font-size: 30px;
    color: #E23028;
}
.lastUpdated {
    font-size: 15px;
    color: #6C757D;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
}
.heading {
    font-size: 28px;
}
.delta {
    font-size: 26px;
    opacity: 60%;
}
.total {
    font-size: 42px;
}

.CovidLarge .info {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.CovidLarge .heading { font-size: 26px; }
.CovidLarge .delta { font-size: 24px; }
.CovidLarge .total { font-size: 38px; }

.confirmed { color: #FF073A; }
.active { color: #007bff; }
.recovered { color: #28a745; }
.deceased { color: #6c757d; }