.MenuBar {
    position: fixed;
    bottom: 4px;
    right: 4px;
    display: grid;
    grid-template-columns: 5fr 1.6fr;
    z-index: 99999;
}

.menuBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}
.menuBtn svg {
    opacity: 0.4;
    transition: all 0.2s ease;
}
.menuBtn svg:hover {
    opacity: 1;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-right: 2px solid #dadada;
    padding-left: 4px;
    z-index: 99998;
    transition: all 1s ease;
}

.options svg {
    margin: 0 2px;
    transition: all 0.2s ease;
    opacity: 0.4;
}
.options svg:hover {
    opacity: 1;
}

.divider {
    height: 100%;
    width: 4px;
    border-radius: 100px;
    background-color: black;
    margin: 0 10px;
}