@import '../../../common/global.module.scss';

.main {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    column-gap: 10px;
}

.menus {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    margin: 0 16px 0 0;

    button {
        width: 100%;
    }
}