.Button {
    cursor: pointer;
    border: none;
    font-size: 22px;
    background-color: rgba(255,255,255,0.32);
    color: #dedede;
    padding: 12px 24px;
    border-radius: 4px;
    transition: 0.3s ease;
    margin: auto;
    outline: none;
}

.Button:disabled {
    cursor: not-allowed;
}

.Button:not(:disabled):hover {
    background-color: rgba(255,255,255,0.8);
    color: #383838;
}

.Button:not(:disabled):active {
    background-color: rgba(255,255,255,1);
}