.Dropdown {
    all: unset;
    border: 2px solid #dedede;
    padding: 6px 30px 6px 12px;
    border-radius: 4px;
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat calc(100% - 10px);
    color: black;
}