.Radio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}

.Radio label {
    cursor: pointer;
    font-size: 22px;
    background-color: black;
    color: #dedede;
    padding: 8px 16px;
    border-radius: 4px;
    -webkit-box-shadow: 4px 4px 12px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 12px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 12px 1px rgba(0, 0, 0, 0.75);
    transition: 0.3s ease;
}

.Radio label:not(.active):hover {
    transform: scale(1.1);
}

.Radio label.active {
    background-color: white;
    color: #383838;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.Radio input {
    position: absolute;
    appearance: none;
    width: inherit;
    height: inherit;
}