.TextInput {
    all: unset;
    border-bottom: 1px solid #acacacda;
}

.TextInput:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.TextInput:not(:disabled):hover {
    border-bottom: 1px solid #acacac;
}

.TextInput:focus {
    border-bottom: 1px solid #dedede;
}

.TextInput::placeholder { color: #acacacda; }
.TextInput:not(:disabled):hover::placeholder { color: #acacac; }