.form {
    display: flex;
    flex-direction: column;
}
.form h2 {
    margin: 0;
}

.fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
}

.textInput {
    font-size: 22px;
    padding-bottom: 5px;
}

.styleSelection {
    display: grid;
    grid-template-columns: 3fr 1.5fr 1.5fr;
}

.imagePickerDropzone {
    margin: 4px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid #dedede;
    width: 364px;
    height: 200px;
}

.imagePickerDropzone img {
    width: 364px;
    height: 200px;
}