.form {
    display: flex;
    flex-direction: column;
}

.fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
}

.textInput {
    font-size: 22px;
    padding-bottom: 5px;
}

.updateBtn {
    font-size: 24px;
    padding: 12px 20px;
    margin: 40px auto;
}


.styleSelection {
    display: grid;
    grid-template-columns: 3fr 1.5fr 1.5fr;
}
