.secretRow {
    display: grid;
    grid-template-columns: 10fr 2fr;
}

.secretRow p {
    margin: 8px 0;
}

.secretRow input {
    width: 90%;
    font-size: 20px;
}

.secretRow div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}