.Calendar {
    background-color: rgb(0, 0, 0, 0.56);
    color: #dedede;
    position: fixed;
    width: calc(1.24 * 248px);
    height: calc(1.24 * 224px);
    // border-radius: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    user-select: none;
    transform: scale(2);

    hr {
        width: 86%;
        margin: 6px 0;
    }
    
}

.header {
    width: 76%;
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-size: calc(1.28 * 18px);
}
.year {
    flex-grow: 1;
    text-align: end;
    color: tomato;
}

.calContainer { 
    width: 88%;
    height: 68%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    margin-bottom: 8px;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dedede;
    font-size: calc(1.24 * 16px);

    &:nth-child(-n+7) {
        font-weight: bold;
        opacity: 100%;
    }
}