.FormTemplate {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.FormTemplate header {
    height: max(140px, 18vh);
}

.FormTemplate section {
    height: max(620px, 80vh);
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.FormTemplate section::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}