.wrapper {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.64);
    color: lightgrey;
    transition: transform 0.4s ease;
    backdrop-filter: blur(4.8px);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    transform: translateY(100%);
    overflow: hidden;
}

.main {
    display: grid;
    grid-template-rows: repeat(1, 100vh);
    overflow-y: visible;
    transition: transform 0.4s ease;
}

.Settings {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Settings header {
    height: max(140px, 18vh);
}

.Settings section {
    height: max(620px, 80vh);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.Settings section::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.option {
    cursor: pointer;
    display: grid;
    grid-template-rows: 6fr 2fr;
    justify-content: center;
    align-items: center;
    margin: 8px;
    height: 86%;
    opacity: 0.64;
    transition: 0.2s ease-in;
}
.option:hover {
    opacity: 1;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.iconContainer svg {
    width: 100px;
    height: 100px;
    margin-top: 16px;
}

.sides {
    display: flex;
    height: max(140px, 18vh);
}

.uiBtns {
    background: transparent;
    border: none;
    user-select: none;
    outline: none;
    opacity: 0.8;
    transition: 0.2s ease;
}
.uiBtns:hover {
    opacity: 1;
}

.upArrow {
    justify-self: end;
}