.StickyNote {
    position: fixed;
    padding: 18px;
    background-size: cover;
    width: 200px;
    height: 200px;
}

textarea {
    width: 103%;
    height: 90%;
    resize: none;
    background-color: transparent;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
    margin-left: 3px;
    border: none;
}
textarea:focus {
    outline: none;
}