@import '../../common/global.module.scss';

.Foreground {
    @include fullScreen;
    @include posFixed($z: 999);
    transition: transform 0.4s ease;
    backdrop-filter: blur(4.8px);
    background-color: rgba(0, 0, 0, 0.64);
}

.menuBtn {
    position: absolute; 
    bottom: 0;
    right: 0; 
    background-color: transparent;
    border: none;
    user-select: none;
    outline: 0;
    opacity: 0.76;
    transition: 0.2s ease;
    cursor: pointer;
}

.menuBtn:hover {
    opacity: 1;
}